@font-face {
    font-family: Shabnam;
    src: url('../shabnam-font-v2.4.0/Shabnam.eot');
    src: url('../shabnam-font-v2.4.0/Shabnam.eot?#iefix') format('embedded-opentype'),
        url('../shabnam-font-v2.4.0/Shabnam.woff') format('woff'),
        url('../shabnam-font-v2.4.0/Shabnam.ttf') format('truetype');
    font-weight: normal;
}
*{
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;   
    padding: 0;
    direction: rtl;
    color:inherit;

    font-family: "Shabnam";
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #dededede;
}
main{
    position: relative;
}
/*header and navar*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #f6f6f6;
    box-shadow: 0 2px rgba(0, 0, 0, .1) ;
    z-index: 1;    
}
.navContainer{
    display: flex;
    justify-content: space-between;
    margin: 2px;
    height: 3.5rem;
    width: 100%;
    align-items: center;
    margin-inline: auto;
}
.navLogo{
    color: #e74d06;
    font-weight: 600;
    margin-right: 2rem;
}
.navAction{
    display: flex;
    align-items: center;
    left: 0;
    column-gap: 1rem;
    margin-left: 2rem;
}
.iconCard , .ri-search-line{
    font-size: 24px;
    transition: color .2s;
}
.iconCard:hover , .ri-search-line:hover{
    color: #e74d06;
}
/*for smale divaces*/
@media(max-width:1023px) { 
    .headerMenu{
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 0;
        right:-100%;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.952);
        background-color: #f6f6f6;
        padding-block: 3rem 3rem;
        transition: left .3s;

    }
    .headerList{
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 2.5rem;
    text-align: center;
    }
    .headerlist li{
        padding-bottom: .5rem;
        border-bottom: .1rem solid ;
        border-radius: 10%;
        color: #001440;
        transition: color .2s;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, .1);
    }
    .headerList li:hover{
        background-color: #e74d06;
        width: 105%;
    }
    .navLink{
        width: 100%;
        color: #001440;
        font-weight:  600;
        transition: color .2s;
        
    }
    .closeBtn{
        position: absolute;
        top: .5rem;
        right: 2rem;
        border: .2rem solid #e74d06;
        border-radius: 30%;
        background-color: #e74d06;

    }
    .closeBtn:hover{
        background-color: red;
        border-color: red;
    }
    .showMenu{
        right :0;
    }

}

/*for lorger divaces*/
@media(min-width:1023px )
{
    /*germez didi injas*/
    .nav{
        background-color: red;
    }
    .closeBtn  ,
    .menuBtn{
        display: none;
    }
    .headerMenu{
        margin-right: auto;
        margin-left: 2rem;
    }
    .headerList{
        display: flex;
        column-gap: 2rem;
    }
}
/*crouser slider*/
.cssection{
    position: relative;
    height: 100%;
    width: 100%;
    box-shadow: 0 3px 10px rgba(9, 0, 0, .1);
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    top: 20vh;
}
.sliderItem{
    width: 200px;
    height: 300px;
    list-style: none;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background-position: center;
    background-size: cover;
    box-shadow: 0 20px 30px rgba(255, 255, 255, .3) inset;
    transition: transform 0.1s , left 0.75s , top 0.75s  , width 0.75s , height 0.75s;

    &:nth-child(1),
    &:nth-child(2){
        right: 0;
        left: 0;;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1  ;
    }
    &:nth-child(3){
        left:50%;
    }
    &:nth-child(4){
        left:calc(50% + 220px);
    }
    &:nth-child(5){
        left:calc(50% + 440px);
    }
    &:nth-child(6){
        left:calc(50% + 660px);
        opacity: 0;
    }

}
.content{
    position: absolute;
    top: 50%;
    left: 0;
    max-width: 30%;
    transform: translateY(-50%);
    color: #fff;
    text-shadow: 0 3px 8px rgba(255, 111   , 0, .5);
    opacity: 0;
    display:none;
    & .descripiion{
        line-height: 3;
        margin: 2rem 0  3rem;
        font-size: .8rem;
    }
    & .title{
        font-size: 2.5rem;
    }
    & button{
        width: fit-content;
        background-color: rgba(0, 0, 0, .1);
        color: #fff;
        border: 2px solid #fff;
        padding: 0.75rem;
        cursor: pointer;
    }

}
.sliderItem:nth-of-type(2) .content{
    display: block;
    
    animation: show .75s ease-in-out .3s forwards;
}
@keyframes show {
    0%{
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }
    100%{
        opacity: 1;
        filter: blur(0);
    }
    

}
.arrow{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    
    user-select: none;


    & .btn{
        background-color: rgba(255, 255, 255, .5);
        color: rgba(0, 0, 0, .7);
        border: 2px solid rgba(0, 0, 0, .6);
        margin: 0 0.25rem;
        padding: 0.75rem;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
    }
    & .btn:hover{
        background-color: rgba(255, 255, 255, .8);
        padding: 1rem;
        border: 3px solid rgba(0, 0, 0, 0.89) ;
    }
    

}
@media (width > 650px) and (width <900px) {
    .content{
        & .title{
            font-size: 1.5rem;
        }
        & .descripiion{
            font-size: 1rem;
        }
    }
    .sliderItem{
        width: 150px;
        height: 240px;
    &:nth-child(3){
        left:50%;
    }
    &:nth-child(4){
        left:calc(50% + 170px);
    }
    &:nth-child(5){
        left:calc(50% + 340px);
    }
    &:nth-child(6){
        left:calc(50% + 510px);
        opacity: 0;
    }

    }

}
@media (width < 650px) {
    .content{
        & .title{
            font-size: 0.9rem;
        }
        & .descripiion{
            font-size: .5rem;
        }
        & button{
            font-size: .5rem;
        }
    }
    .sliderItem{
        width: 130px;
        height: 220px;
    &:nth-child(3){
        left:50%;
    }
    &:nth-child(4){
        left:calc(50% + 140px);
    }
    &:nth-child(5){
        left:calc(50% + 280px);
    }
    &:nth-child(6){
        left:calc(50% + 420px);
        opacity: 0;
    }

    }
    .arrow .btn{
        padding: 0.2rem;

    }
    .arrow .btn:hover{
        padding: 0.3rem;
    }

}








/*crouser*/
.crouserSection{
    position: relative;
    & .crouser{
        position:relative ;
        display: flex;
        margin-top: 30vh;
        height: 40vh;
        background-color: #fff;
    }
    & .crouser .slider{
        position: absolute;
        left: 0;
        top :-4rem;
        & img{
            position: absolute;
            left: 0;
            width: 450px;
            height: 450px;
            z-index: 67;
            opacity: 0;
            &.active{
            opacity: 1;
        }
        }
        


    }
    & .overlays{
        position: absolute;
        left: 0;
        width: 36rem;
        height: 20rem;
        z-index: 66;
        top: 0vh;
        & .bar{
            position: absolute;
            left: 0;
            background-color: var(--bar-color);
            width: 100%;
            height: 100%;
            transform-origin: left;
            
        }
    }
    & .navLink{
        position: absolute;
        font-size: 2rem;
        padding: 2rem;
        left: 39rem;
        font-weight: 400;
        color: rgba(0, 0, 0, .6);

    }
    & .nav-link.showli{
            pointer-events: none;
            color: rgba(0, 0, 0, 1);
            font-weight: 900;
        }
    & .navLink li:hover{
        color: rgba(0, 0, 0, 1);
        font-weight: 900;
    }
    

}


