@keyframes backgrandanimation {
    from{
        background-color: red;

    }
    to{
        background-color: yellow;
    }
}


body{
    margin: 50px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

    
.section_continer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    background-color: rgba(216, 12, 114, 0.3);
    animation-name: backgrandanimation;
    animation-duration: 1s ;
    animation-iteration-count: infinite;
    width: 90vh;
    border-radius: 10px;

}
select , button{
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: aliceblue;
    background-color: rgba(1, 2, 2, 0.651);
    border-radius: 50px;
}
#result{
    margin: 20px;
    font-weight: bold;
    color: green;
}